################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/.vs

/API/BackupSystem/bin/Debug/net7.0
/API/BackupSystem/obj
